{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <p>Old Password</p>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old_password" name="old_password" placeholder="Old password" type="password">
            <p>New Password</p>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" type="password">
            <p>Confirm Password</p>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="New Password" type="password">
            <button class="btn btn-primary" type="submit">Check</button>
        </div>
        <p>{{text}}</p>
    </form>
{% endblock %}